block vars
  - var title = typeof title !== 'undefined' ? title : null
  - var styles = typeof styles !== 'undefined' ? styles : []
  - var scripts = typeof scripts !== 'undefined' ? scripts : []
  - var extScripts = typeof extScripts !== 'undefined' ? extScripts : []
  -
    var html = {
      attrs: {
        lang: 'en',
      },
      classes: [],
    }
  -
    var body = {
      attrs: {},
      classes: [],
    }
  -
    var meta = {
      charset: 'utf-8',
      XUACompatible: 'IE=edge',
      viewport: 'width=device-width, initial-scale=1.0',
      description: null,
      keywords: [],
      robots: 'none',
    }
  -
    var link = {
      icon: null,
      icon16x16: null,
      icon32x32: null,
      icon48x48: null,
      icon64x64: null,
      icon512x512: null,

      appleTouchIcon: null,
      appleTouchIcon152x152: null,
      appleTouchIcon167x167: null,
      appleTouchIcon180x180: null,
      appleTouchIcon512x512: null,
    }


doctype html
html(class=html.classes)&attributes(html.attrs)
  head
    block headBegin

    block meta
      if meta.charset
        meta(charset=meta.charset)
      if meta.XUACompatible
        meta(http-equiv='X-UA-Compatible' content=meta.XUACompatible)
      if meta.viewport
        meta(name='viewport' content=meta.viewport)
      if meta.description
        meta(name='description' content=meta.description)
      if meta.robots
        meta(name='robots' content=meta.robots)

    block link
      if link.icon
        link(rel='icon' href=link.icon)
      if link.icon16x16
        link(rel='icon' href=link.icon16x16 sizes="16x16")
      if link.icon32x32
        link(rel='icon' href=link.icon32x32 sizes="32x32")
      if link.icon48x48
        link(rel='icon' href=link.icon48x48 sizes="48x48")
      if link.icon64x64
        link(rel='icon' href=link.icon64x64 sizes="64x64")
      if link.icon512x512
        link(rel='icon' href=link.icon512x512 sizes="512x512")

      if link.appleTouchIcon
        link(rel='apple-touch-icon' href=link.appleTouchIcon)
      if link.appleTouchIcon152x152
        link(rel='apple-touch-icon' href=link.appleTouchIcon152x152 sizes="152x152")
      if link.appleTouchIcon167x167
        link(rel='apple-touch-icon' href=link.appleTouchIcon167x167 sizes="167x167")
      if link.appleTouchIcon180x180
        link(rel='apple-touch-icon' href=link.appleTouchIcon180x180 sizes="180x180")
      if link.appleTouchIcon512x512
        link(rel='apple-touch-icon' href=link.appleTouchIcon512x512 sizes="512x512")

    block styles
      each val in styles
        link(type='text/css' rel='stylesheet' href=val)

    if title
      title= title

    block headEnd

  body(class=body.classes)&attributes(body.attrs)
    block content
    block scripts
      each val in extScripts
        script(type="text/javascript" defer='defer' src=val)
      each val in scripts
        script(type="text/javascript" defer='defer' src=require(val))
